#books-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5em;
  row-gap: 1em;
}

.book {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  height: auto;
  padding: 1em;
}

.book img {
  border: 2px solid black;
}

.book figcaption {
  text-align: center;
}

.book [type="button"] {
  margin-top: 5px;
}

@media (max-width: 600px) {
  #books-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
