form {
  background: #eee;
  margin: 1em 0 .25em 0;
  padding: .75em;
  border-radius: 25px;
}

form input[type="text"]:read-only {
  background-color: #f0f0f0;
}

form label {
  display: block;
  margin: 1em .25em .25em 0;
}

form [type="submit"] {
  background: var(--secondary);
  display: block;
  border-radius: 10px;
  margin: 1.5em 0 0 0;
  padding: .25em .5em .25em .5em;
}

/* medium screens and up */
@media (min-width: 768px) {
  form label {
    display: inline-block;
    margin-left: 1em;
  }

  form [type="submit"] {
    display: inline-block;
    margin: .5em;
  }
}