:root {
  /* Color variables */
  --primary: #00bdb7; /* turquoise */ /* 00dbd4 */
  --primary-transparent: #00bdb744;
  --secondary: #ffde59; /* yellow */
  --secondary-darker: #daaf00; /* darker yellow */
  --secondary-active: #d0a801; /* darker darker yellow */
  --secondary-lighter: #ffeb97; /* lighter yellow */
  --tertiary: #ffb5ce; /* light pink */
  --tertiary-darker: #ff95b9;; /* darker pink */
  --tertiary-active: #ff88b1;; /* darker darker pink */
}

* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

*:focus-visible {
  outline: 4px solid var(--secondary-lighter);
}

body {
  margin: 0;
  font-size: 20px;
}

.invisible {
  opacity: 0;
}


/* BUTTON STYLING */

[type="button"], [type="submit"], .btn {
  border-radius: 15px;
  padding: .25em .5em;
  transition: background .15s ease;
  box-shadow: 0 2px 2.5px grey;
}

.btn {
  color: black !important;
  font-size: 20px;
  border: none !important;
}

.btn-primary {
  background: var(--secondary);
}

.btn-primary:hover {
  background: var(--secondary-darker);
}

.btn-primary:active {
  background: var(--secondary-active) !important;
}

.btn-secondary {
  background: var(--tertiary);
}

.btn-secondary:hover {
  background: var(--tertiary-darker);
}

.btn-secondary:active {
  background: var(--tertiary-active) !important;
}


/* MAIN STYLING */

main {
  padding: 1em;
}

.heading, .heading *, h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.heading, h1 {
  display: block;
  margin-right: 1em;
  padding: .25em 0;
}

section, .section {
  padding: 1em 1em 0 1em;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}


/* NAVBAR STYLING */

.navbar {
  background-color: var(--primary) !important;
  box-shadow: 0 0 4px black;
  padding-left: 1em;
  padding-right: 1em;
  transition: border-radius .35s ease;
}

.round-bottom-corners {
  border-radius: 0 0 20% 20%;
}

.navbar-nav {
  display: grid;
  grid-template-columns: 1fr;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-link:link, .nav-link:visited {
  color: black;
  background-color: var(--secondary);
  margin: .5em;
}

.nav-link:focus-visible {
  outline: 4px solid var(--secondary-lighter);
}

.nav-link:hover {
  background-color: var(--secondary-darker);
}

.nav-link:active {
  background-color: var(--secondary-active);
}

.nav-link.current {
  background-color: var(--secondary-lighter);
}


/* MEDIA QUERIES */

/* small screens and up */
@media (min-width: 578px) {
  .navbar-nav {
    grid-template-columns: 1fr 1fr;
  }
}

/* medium screens and up */
@media (min-width: 768px) {
  .navbar-nav {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
}

/* large screens and up */
@media (min-width: 992px) {
  .navbar-nav {
    grid-template-columns: repeat(4, 1fr);
  }
}